extends userlayout

block content
 .top-margin
 != messages()
 #posts
  if docs
   each post, i in docs
    .post
     h1
      a(href='/users/show/#{post._id}')
       =post.title
     p.meta Posted in 
      a(href='/users/category/#{post.category}') #{post.category} 
      | by #{post.author} 
      | on #{moment(post.date).format("MM-DD-YYYY")}
     if post.mainimage === 'noimage.jpg'
     else
      a(href='/admin/show/#{post._id}')
       img.mainimage(src='/images/#{post.mainimage}')
     !=truncateText(post.body,400)
     a.more(href='/users/show/#{post._id}') Read More
     hr

  #pagination-container
   ul#pagination
    li.prevpage
     form.prev(action='/users/category/#{category}/#{prevpage}', method="GET")
      if prevDisabled
       input(type='submit', id='prevpagedisabled', value='Prev' disabled)
      else 
       input(type='submit', id='prevpage', value='Prev')
    ul#pages
     if pages
       each page, i in pages
        li
         a(href='/users/category/#{category}/#{page}') #{page}
    li.nextpage
     form.next(action='/users/category/#{category}/#{nextpage}', method="GET")
      if nextDisabled
       input(type='submit', id='nextpagedisabled', value='Next' disabled)
      else
       input(type='submit', id='nextpage', value='Next')
 include footer